header.header
	.container
		a.logo(href="index.html") Mobile-app
		nav.menu-wrap
			ul.menu
				li
					.link Android
					ul
						li
							a(href="#") Ссылка
						li
							a(href="#") Ссылка
						li
							a(href="#") Ссылка
				li
					.link Ios
					ul
						li
							a(href="#") Ссылка
						li
							a(href="#") Ссылка
						li
							a(href="#") Ссылка
				li
					.link Pc
					ul
						li
							a(href="#") Ссылка
						li
							a(href="#") Ссылка
						li
							a(href="#") Ссылка
		button.burger
			span.bar.bar1
			span.bar.bar2
			span.bar.bar3


